/* Global Variables */
$green: rgb(23, 228, 57);
$ftSize: 1.5rem;

/* Setup */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  position: relative;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: $green;
  text-align: center;
  font-size: $ftSize;
  font-weight: bold;
}

footer {
  border-radius: 5px;
  text-align: right;
  font-size: 1.2rem;
}

.svg-graph {
  border: 2px solid black;
}

.grid {
  stroke: grey;
  stroke-dashoffset: 1px;
  stroke-dasharray: 2 2;
  opacity: 0.6;
}

#title {
  font-size: 28px;
  text-anchor: middle;
}

.dot:hover {
  fill: rgb(25, 179, 25);
}

#tooltip {
  position: absolute;
  display: none;
  padding: 12px;
  font-size: 12px;
  background: rgb(163, 216, 163);
  border-radius: 10px;
  pointer-events: none;
}
